/* border box everything in the universe, and what comes before and after, by Paul Irish 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 3, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
html {
  box-sizing: border-box;
}

/* line 6, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 9, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
body {
  background: black;
}

/* 5 columns */
/* 5 rows*/
/* transparent background hack: https://css-tricks.com/snippets/css/transparent-background-images/ */
/* line 16, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.wrapper {
  width: 848px;
  height: 900px;
  display: block;
  position: relative;
  display: grid;
  grid-template-columns: 71px 290px 225px 75px 122px;
  grid-template-rows: 17px 53px 275px 96px 225px 125px 25px;
  grid-gap: 14px 16px;
  background: black;
  margin: 0 auto;
}

/* line 30, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.wrapper::after {
  content: "";
  background: url(848px-Tableau_I,_by_liet_Mondriaan.png) no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

/* line 43, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
div div {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  background: white;
  /*default block text color, overwritten below in exceptions */
  color: black;
  padding-left: 45%;
  padding-top: 40%;
  font-size: 3em;
  font-family: Arial,sans-serif;
  font-weight: bolder;
}

/* line 58, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.a, .d, .h, .m {
  color: white;
}

/* line 61, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.a, .l, .m {
  font-size: 1.4em;
  top: 0;
  position: relative;
  padding-top: 0;
}

/* line 68, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.g, .h, .i, .j {
  padding-top: 1.4em;
}

/* line 71, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.a {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  padding-left: 30%;
  background: red;
}

/* line 77, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.b {
  grid-row: 2 / 5;
  grid-column: 1 / 3;
  padding-left: 34%;
}

/* line 82, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.c {
  grid-row: 1 / 5;
  grid-column: 3 / 5;
}

/* line 87, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.d {
  grid-row: 1 / 3;
  grid-column: 5 / 6;
  background: black;
}

/* line 94, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.e {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
}

/* line 98, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.f {
  grid-row: 4/ 5;
  grid-column: 5 / 6;
}

/* line 102, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.g {
  grid-row: 5/ 8;
  grid-column: 1 / 2;
}

/* line 106, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.h {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  background: blue;
}

/* line 111, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.i {
  grid-row: 5 / 7;
  grid-column: 3 / 5;
}

/* line 115, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.j {
  grid-row: 5 / 8;
  grid-column: 5 / 6;
  background: yellow;
}

/* line 120, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.k {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}

/* line 125, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.l {
  grid-row: 7 / 8;
  grid-column: 2 / 4;
}

/* line 129, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
.m {
  grid-row: 7 / 8;
  grid-column: 4 / 5;
  background: black;
}

/* upside down mondrian done in 2 ways, simple and not so simple (just to make sure I didn't take the easy way)*/
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  /* the easy way, just rotate the wrapper*/
  /* line 139, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .wrapper {
    transform: rotate(180deg);
  }
}

@media only screen and (min-width: 480px) and (max-width: 700px) {
  /* the longer way, recode.  .. */
  /* line 146, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .wrapper {
    grid-template-columns: 122px 75px 225px 290px 71px 290px;
    grid-template-rows: 25px 125px 225px 96px 275px 53px 17px;
  }
  /* line 151, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .wrapper div {
    /* only the individual letter block is flipped upside down, to get the letters upside down */
    transform: rotate(180deg);
  }
  /* line 155, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .m {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding-left: 30%;
    background: black;
  }
  /* line 161, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .l {
    grid-row: 1 / 2;
    grid-column: 3 / 5;
    padding-left: 34%;
  }
  /* line 166, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .k {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
  }
  /* line 171, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .j {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    background: yellow;
  }
  /* line 178, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .i {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
  }
  /* line 182, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .h {
    grid-row: 3/ 4;
    grid-column: 4 / 5;
    background: blue;
  }
  /* line 187, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .g {
    grid-row: 1/ 4;
    grid-column: 5 / 6;
  }
  /* line 191, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .f {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
  /* line 196, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .e {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
  /* line 200, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .d {
    grid-row: 6 / 8;
    grid-column: 1 / 2;
    background: black;
  }
  /* line 205, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .c {
    grid-row: 4 / 8;
    grid-column: 2 / 4;
  }
  /* line 210, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .b {
    grid-row: 4 / 7;
    grid-column: 4 / 6;
  }
  /* line 214, C:/Users/winescape-xx/Desktop/assign4/sass/mondrian.scss */
  .a {
    grid-row: 7 / 8;
    grid-column: 4 / 6;
    background: red;
  }
}

/*# sourceMappingURL=../css/mondrian.map */