/* line 1, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.base {
  fill: #4e4e43;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

/* line 2, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.text1 {
  font-family: 'Arial-BoldMT';
}

/* line 3, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.text2 {
  font-size: 5px;
}

/* line 4, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.st3 {
  display: none;
  fill: #E6E7E8;
  stroke: #231F20;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

/* line 5, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.terrain {
  fill: #0af20f;
  stroke: #231F20;
  stroke-miterlimit: 1;
}

/* line 6, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.globe {
  fill: #c3e6fc;
}

/* line 7, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
text {
  z-index: 50;
}

/* line 10, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
circle {
  z-index: 1;
}

/* line 13, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#Layer_3 {
  z-index: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* line 22, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#svg_all {
  transform: scale(0.2);
  position: absolute;
  left: -10em;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* line 33, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.terrain {
  animation: 2s fadeOut;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

/* line 48, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.T1 {
  font-size: 50em;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* line 60, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#group1, #group2 {
  animation-name: rotation-move;
  animation-duration: 2s, 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite, infinite;
  animation-iteration-count: 1;
  transform-origin: 537.1px 473.1px;
  transition: translate 4s;
  animation-fill-mode: forwards;
}

/* line 73, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#group1 {
  animation-delay: 10s;
}

/* line 76, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#group2, #group3, #group4, #group5 {
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  opacity: 0;
  transform-origin: 537.1px 473.1px;
  transition: translate 4s;
  transform: translate(0px, 0px);
}

/* line 85, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#group2 {
  animation-delay: 10s;
}

/* line 88, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#group3 {
  animation-delay: 13s;
}

/* line 91, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#group4 {
  animation-delay: 21s;
}

/* line 94, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
#group5 {
  animation-delay: 25s;
}

@keyframes rotation-move {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(150em, 0px);
  }
}

/* line 108, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.T1 {
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

/* line 114, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.i, .b, .e, .t {
  font-size: 50em;
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
}

/* line 120, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.i {
  animation-delay: 12s;
}

/* line 123, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.b {
  animation-delay: 15s;
}

/* line 126, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.e {
  animation-delay: 19s;
}

/* line 130, C:/Users/winescape-xx/Desktop/assign4/sass/svgtry.scss */
.t {
  animation-delay: 23s;
}

/*# sourceMappingURL=../css/svgtry.map */