@mixin border-define($top, $right, $bottom, $left, $color: black, $style: solid) {
    $min: 1px;
    $topx: $top * $min;
    $rightx: $right * $min;
    $bottomx: $bottom * $min;
    $leftx: $left * $min;
    border-top: $topx solid $color;
    border-right: $rightx solid $color;
    border-bottom: $bottomx solid $color;
    border-left: $leftx solid $color;
    border-style: $style;
}
svg {
    position: absolute;
    top: 1em;
    padding-left: .4em;
}
/* border box by Paul Irish 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body#mondrian {
    background: black;
}

body#flexbox, body#cssgrid {
    position: relative;
    width: 100%;
    background: $background-heading;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

/* this is setting up the transparent background image in the header */
header {
    height: 10em;
    width: 100%;
    position: relative;
    letter-spacing: .4em;
    border-bottom: 1px solid black;
    z-index: 0;
    overflow: hidden;
}

header:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url("../img/background2x_1200.png") no-repeat;
    opacity: 0.6;
    z-index: -3;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
}
footer {
  background: $prime-color;
  position: relative;
  text-align: center;
  padding: .25em;
}
footer p {
  display: inline-block;
  margin: 0 auto;
  background: $third-color;
}
body {
  font-family: "IM Fell English", serif;
}
h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans';
 }

#sidebar h2 {
    font-family: 'Cedarville Cursive';
}
h1 {
    font-family: "Alegreya";
    font-family: 'Cedarville Cursive';
    color: $brown;
    
}


/* nav items here */
nav li a {
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}
li a {
    background: $third-color;
}

li a:hover {
    background: $fifth-color;
}
nav ul {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    //align-items: center;
}
nav {
    background: $prime-color;
}

nav ul li:first-of-type {
    @include border-define(2, 1, 1, 1);
}

nav ul li {
     

    //flex: .5 1 10%;
    padding: 0;
    margin: 0;
    background: yellow;

    @include border-define(2, 1, 1, 0);
    transition: filter 2s, transform 5s;
    //transition: scaleY 5s;
}


nav ul:hover, nav ul:active {
     li:not(:hover){
        filter:blur(10px);
       
    }
    li:hover, li:active {
        transform: scaleY(1.2);
        
    }
}

object#object svg {
   width: 500em;
}


/* when images on the page are hovered, the bordiar radius changes and filters are used to create a negative photo effect */
/* at the same time, the following text in the associated paragraph will be drop shadowed and skewed, via transforms and filters */
img {
  transition: border 2s;
  transition: border-radius 2s;
  position:relative;
  padding: 1em;
  border: 10px solid black;
  padding:0;
}
img:hover {
  border: 10px solid #f89921;
  border-radius: 100px;
  filter: contrast(200%);
  filter: invert(100%);
}

figure ~ div p {
    transition: background 4s; 
}
figure:hover ~ div p {
  background: darken($background-heading, 10%);
  filter: drop-shadow(15px 15px 15px black);
  transform: skewX(-5deg);
  border: 1px solid black;
}

article:nth-of-type(even) {
  //  margin-right: 1em;
}

h1, h2, h3 {
    background: $background-heading;
    margin-left: 1em;
    margin-right: 1em;

}
p {
   margin-left: 1em;
    margin-right: 1em;
    text-align:justify;
}


article {
    background: desaturate(darken(snow, 3%), 60%);
    background: $panel-color;
    margin-bottom: .5em;
    padding: 0 1em 0 1em;
}
 

.img-article {
	//justify-content: space-between;
    //margin: 1%;
    margin-bottom: .5em;
    //margin-right: 1em;
    padding: 0 1em 0 1em;
}


/*primary styles for flexbox page styles start here */
#flexbox {
  h2,h3, h4, h5, h6 {
  flex: 1 1 95%;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    //align-items: center;
}
nav ul li {
    flex-basis: 10%;
}
figure {
  margin-left: .5em;
  margin-right: .5em;
}
#inner_wrapper {
   display:flex;
   flex-flow: row wrap;
   flex: 1 1 auto;
   background-color: #ccc;
   justify-content: space-around;
}
#maincontent {
  flex: 1 1 79%;
}
#sidebar {
  flex: 1 1 19%;
  background: gray;
  border-left: 1px solid black;
  h2 {
  margin: 0;
  margin-top: .8em;
  padding: 0;
  margin-bottom: 2em;
  }
  article {
    background: gray;
  }
  img {
    border-color: white;
    margin-bottom: 2em;
    height: 100%;
  }

  p {
    background: $panel-color;
    margin: 0;
    padding: .5em;
  }
  h3 {
    margin: 0;
  }
}
article {  
  flex: 0 1 49%;
	flex-flow: column nowrap;  
}
.one {
	 flex: 1 1 50%;
	 flex-flow: row nowrap;
}
.col-2 {
	flex: 0 1 66%;
}
.col-1 {
	flex: 0 1 32%;
}
.img-article {
    flex: 0 1 40%;
	//justify-content: space-between;
    //margin: 1%;
   // flex-ow: column nowrap;
    display: flex;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 100%;
    justify-content: space-between;
}

  @media screen and (max-width: 699px) {
      .row {
          display: flex;
          flex-flow: column nowrap;
          //flex: 1 1 auto;
      }
      article {
          flex: 1 0 100%;    
      }
      .img-article {
      	flex-flow: column nowrap;
      	 padding: 0 .25em 0 .25em;
      }
      img {
      	max-width: 100%;
      	margin-left:  0;
      	margin-right:  0;
      }
      figure, picture {
      	padding: 0;
      }
      figcaption {
       position: relative;
        margin: 0 auto;
      }
      figure {
      	width: 100%;
        position: relative;
        margin: 0 auto;
        text-align: center;
      }
      img {width: inherit;}
        .two {
      	order: 3;
      }
  }
}




/* primary styles for cssgrid start here */
#cssgrid {
  #inner_wrapper {
	display: grid;
   grid-template-columns: 2fr 1em 1fr 1em 3fr 20%;
    grid-template-rows:  30% 30% 30% 10%;
 
     
  grid-auto-rows: auto;
  background: grey;
}

figure {
  margin-left: 0;
}

h2, h3, h4, h5, h6 {
  //flex: 1 1 100%;
  grid-column: 1/2;
}
	ul {
		grid-column: 1/4;
		display:flex;
		flex-flow: row nowrap;
	}
	li {
		flex-basis: 25%;
		
	}
/*	#maincontent {
		display:grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 3fr 1fr 7fr;;
		grid-column-gap: 1em;
		grid-row-gap:.5em;
    grid-column: 1/2;

	}*/
	 
	nav {
		//grid-row:1/4;
		display:grid;
		grid-template-columns: 25em 25em 25em 25em 25em 25em 25em 25em 25em;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		 
			}
	ul li {
		 
	}
figure {
  margin-left: 1.5em;
  padding-right: 0;
  padding-right:0;
  margin-right: .5em;
}

p {
  background: $panel-color;
  margin: 0;
  padding: .5em;


}
 
   .one  {
   	grid-row: 1/2;
   	grid-column: 1/6;
   }

   .two {
   	grid-row: 2/3;
   	grid-column: 1/4;
   }

   .three {
   	grid-row: 2/3;
   	grid-column: 5/6;
   }

   .four {
   	grid-row: 3/4;
   	grid-column: 1/2;

   }
   .five {
   	grid-row: 3/4;
   	grid-column: 3/6;   
   }
  footer {
     grid-row: 4/5;
     grid-column: 1/7;
}

   	

   	 .one, .three {
      display:flex;
      flex-flow: row wrap;

   	 	//display: grid;
   	// 	grid-template-columns: 1fr 3fr;
		//grid-template-rows: 1fr 3fr;

		h2, h1, h3 {
      flex: 0 0 94%;

    
			//grid-column: 1/3;
		//	grid-row: 1/2;
			 
		}
		figure {
		//	grid-column: 1/2;
    flex: 1 1 30%;
		}
    h1 {
     //margin: 0 auto;
    }
    
		div {
			//grid-column: 2/3;
      flex: 1 1 66%;
     
		}

 
   	 }

     #sidebar {
 grid-column: 6/7;
 grid-row: 1/4;
 margin-left: 0;
background: gray;
border-left: 1px solid black;
h2 {
margin: 0;
margin-top: .8em;
padding: 0;
margin-bottom: 2em;
}
.one {
  margin-right: 0;
}
article {
  background: gray;
}
img {
  border-color: white;
  margin-bottom: 2em;
  min-width: 50%;
  max-width: 100%;

}


p {
  background: $panel-color;
  margin: 0;
  padding: .5em;


}
h3 {

  margin: 0;
}
}

 }
 #cssgrid{
 @media only screen and (max-width: 1024px) {
  #inner_wrapper {
      grid-template-columns: 2fr 1em 1fr 1em 3fr 20%;
    grid-template-rows:  19% 19% 19% 19% 19% 5%;
   }
  #sidebar {
    grid-row: 4/5;
    grid-column: 1/7;
  }
  .one {
    grid-column: 1/7;
  }
  footer {
    grid-row: 5/6;
  }
  #maincontent {
  grid-column: 1/2;
  }
  .two {grid-column: 1/4;
    grid-row: 3/4;
  }
  figure {
    margin-left: .4em;
    padding-left: 0;
  }
  .three {
    grid-column: 4/7;
    grid-row: 3/4;
  }
  .four {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .five {
    grid-column: 5/7;
    grid-row: 2/3;
  }
  h3 {
    margin: 0 auto;
  }
}

 @media only screen and (max-width: 1175px) {
   
 }
 @media only screen and (max-width: 1300px)  {
  #sidebar {
    h2  {
      font-size: 1.1em;
    }
  }
}
@media only screen and (max-width: 1015px)  {
   #sidebar{
    h2 {
    font-size: .9em;
   }
 }
} }
 /*layout reordering is here, and flex for sidebar is here*/

div {

}
div {
  
}
div {
  
}
div {
  
}
div {
  
}
div {
  
}
div {
  
}
div {
  
}


 /* end reording */