@mixin border-define($top, $right, $bottom, $left, $color: black, $style: solid) {
    //$list: $top $right $bottom $left;
    $min: 1px;

    //$topx: $top * $min;
    $topx: $top * $min;
    $rightx: $right * $min;
    $bottomx: $bottom * $min;
    $leftx: $left * $min;

    border-top: $topx solid $color;
    border-right: $rightx solid $color;
    border-bottom: $bottomx solid $color;
    border-left: $leftx solid $color;
    border-style: $style;
}

/* border box everything in the universe, and what comes before and after, by Paul Irish 
http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body#mondrian {
    background: black;
}

body#flexbox, body#cssgrid {
    position: relative;
    width: 100%;
    background: $background-heading;
    top: 0;
    left: 0;
    bottom: 0;

    //background: blue;
    margin: 0 auto;
    //background:white;
}

.wrapper {
    //position: absolute;
    width: 80%;
    margin: 0 auto;

    //background: green;
}

/* this is setting up the transparent background image in the header */

header {
    height: 10em;
    width: 100%;
    position: relative;
    letter-spacing: .4em;
    border-bottom: 1px solid black;
    z-index: 0;
    overflow: hidden;
}

header:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url("../img/background2x_1200.png") no-repeat;
    opacity: 0.6;
    z-index: -3;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
}

h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans';
flex: 1 1 100%;
}

h2 {
    font-family: 'Cedarville Cursive';
}
h1 {
    font-family: "Alegreya";
    color: $brown;
}
h1 span {
    font-size: 3em;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}
li a {
    background: $third-color;
}

li a:hover {
    background: $fifth-color;
}

article:nth-of-type(even) {
  //  margin-right: 1em;
}

h2, h3 {
    background: $background-heading;
    margin-left: 1em;
    margin-right: 1em;
}

nav {
    background: $prime-color;
}

.headertext {
    font-weight: bolder;
    font-family: "Fredericka the Great";
    color: $brown;
    
}

nav ul {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
   
    list-style: none;
    
    margin-bottom: 0;

    //align-items: center;
}

nav ul li:first-of-type {
    @include border-define(2, 1, 1, 1);
}

nav ul li {
     

    //flex: .5 1 10%;
    padding: 0;
    margin: 0;
    background: yellow;

    @include border-define(2, 1, 1, 0);
}





#maincontent {}

article {
    background: desaturate(darken(snow, 3%), 60%);
    background: $panel-color;
    
	 
    //margin: 1%;
    margin-bottom: .5em;

    //margin-right: 1em;
    padding: 0 1em 0 1em;
    //display: flex;
    
    
}
 
.one {
 
}
.col-2 {
	 
}
.col-1 {
	 
}
.img-article {
 
	//justify-content: space-between;
    //margin: 1%;
    margin-bottom: .5em;

    //margin-right: 1em;
    padding: 0 1em 0 1em;


}

.aarticle {
  

    //margin: 1%;
    margin-bottom: .5em;

    //margin-right: 1em;
    padding: 0 1em 0 1em;
  
}
/*article:nth-of-type(even) {
   margin-left: 2em;
}*/


.row {
    
}



/*nested styles for flexbox page start here */
#flexbox {

	.headertext {
		align-self: flex-start;
    flex: 0 0 50%;
	}
	


.flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* adjusts the size of first letter in h1.  I had already set up a span to uppercase it and float it,  so I stuckc with it */



nav ul {
    
    display: flex;
    flex-flow: row nowrap;
    
    justify-content: flex-start;
    
    //align-items: center;
}

nav ul li:first-of-type {
    
}

nav ul li {
    flex-basis: 10%;
 
}





#maincontent {}

article {
    
     flex: 0 1 49%;
	 
   
    flex-flow: column nowrap;
    
}
 
.one {
	flex: 1 1 50%;
	 flex-row: row nowrap;
}
.col-2 {
	flex: 0 1 66%;
}
.col-1 {
	flex: 0 1 32%;
}
.img-article {
    flex: 0 1 40%;
	//justify-content: space-between;
    //margin: 1%;
    
    flex-row: column nowrap;
    display: flex;

}

.aarticle {
    flex: 0 1 48%;

    
  
    display: flex;
}
/*article:nth-of-type(even) {
   margin-left: 2em;
}*/


.row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 100%;
    justify-content: space-between;
}

@media screen and (max-width: 699px) {
    .row {
        display: flex;
        flex-flow: column nowrap;

        //flex: 1 1 auto;
   
    }

    article {
        flex: 1 0 100%;
        background: orange;
    }

    .img-article {
    	flex-flow: column nowrap;
    	 padding: 0 .25em 0 .25em;
    }
    img {
    	max-width: 100%;
    	margin-left:  0;
    	margin-right:  0;
    }
    figure, picture {
    	padding: 0;
    }
    figure {
    	width: 100%;
   position: relative;
   margin: 0 auto;

    	 
    }
    img {width: inherit;}

    .two {
    	order: 3;
    }
}

}





/* cssgrid page */
#cssgrid {
	
	ul {
		grid-column: 1/4;
		display:flex;
		flex: row nowrap;
	}
	li {
		flex-basis: 25%;
		
	}
	#maincontent {
		display:grid;
		grid-template-rows: 25em 25em 25em 25em 25em;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	}
	 
	nav {
		//grid-row:1/4;
		display:grid;
		grid-template-columns: 25em 25em 25em 25em 25em 25em 25em 25em 25em;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		 
			}
	ul li {
		 
	}

   header {
   	 
   }
   h2 {

   }
   .one  {
   	grid-row: 1/2;
   	grid-column: 1/11;
   }

   .two {
   	grid-row: 2/3;
   	grid-column: 1/5;
   }

   .three {
   	grid-row: 2/3;
   	grid-column: 5/11;
   }

   .four {
   	grid-row: 3/4;
   	grid-column: 1/4;

   }
   .five {
   	grid-row: 3/4;
   	grid-column: 5/11;   }

   	.row {
   		grid-row: 1/11;
   	}
}
