
/* cssgrid page */
#cssgrid {
    #inner_wrapper {
      display: grid;
      grid-template-columns: 8fr 2fr;
      background: grey;
    }

    h2, h3, h4, h5, h6 {
    //flex: 1 1 100%;
      grid-column: 1/2;
    }
    ul {
      grid-column: 1/4;
      display:flex;
      flex: row nowrap;
    }
    li {
      flex-basis: 25%;

    }
    #maincontent {
      display:grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 1em;
      grid-row-gap:.5em;
      grid-column: 1/2;

    }

    nav {
      //grid-row:1/4;
      display:grid;
      grid-template-columns: 25em 25em 25em 25em 25em 25em 25em 25em 25em;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    }
    ul li {

    }
    figure {
      margin-left: 2em;
      padding-right: .5em;
      padding-right:0;
    }

    p {
      background: $panel-color;
      margin: 0;
      padding: .5em;


    }
    header {
     
    }
    h2 {

    }
    .one  {
      grid-row: 1/2;
      grid-column: 1/11;
    }

    .two {
      grid-row: 2/3;
      grid-column: 1/5;
    }

    .three {
      grid-row: 2/3;
      grid-column: 5/11;
    }

    .four {
      grid-row: 3/4;
      grid-column: 1/4;

    }
    .five {
      grid-row: 3/4;
      grid-column: 4/11;  
    }



     .one, .three {
       	display: grid;
       	grid-template-columns: 1fr 3fr;
      //grid-template-rows: 1fr 3fr;

        h2, h3 {
        grid-column: 1/3;
        //	grid-row: 1/2;
        align-self:start;
        }
        figure {
        grid-column: 1/2;
        }
        div {
        grid-column: 2/3;
        }
     }

    #sidebar {
      grid-column: 2/3;
      background: gray;
      border-left: 1px solid black;
      h2 {
        margin: 0;
        margin-top: .8em;
        padding: 0;
        margin-bottom: 2em;
      }
      article {
        background: gray;
      }
      img {
        border-color: white;
        margin-bottom: 2em;
        height: 100%;

      }

      p {
      background: $panel-color;
      margin: 0;
      padding: .5em;
      }
      h3 {

      margin: 0;
      }
}

}