

.base{
 	fill:#4e4e43;
 	stroke:#FFFFFF;
 	stroke-width:3;
 	stroke-miterlimit:10;
 }
.text1 {
	font-family:'Arial-BoldMT';
}
.text2 {
	font-size:5px;
}
.st3 {
	display:none;
	fill:#E6E7E8;
	stroke:#231F20;
	stroke-linecap:round;
	stroke-miterlimit:10;
}
.terrain{
	fill:#0af20f;
	stroke:#231F20;
//	stroke-miterlimit:1;
}
.globe{
	fill: #c3e6fc;
}
text {
	//z-index:50;
}
circle {
	//z-index: 1;
}
#Layer_3 {
	//z-index:0;
}
 svg {
 	width: 55000px;
 }
#svg_all {
	transform: scale(.1);
	position: absolute;
	//left:  -10em;
	display: inline-block;
	width: 6500em;
	overflow: visible;
}
#svg_all * {
	width: inherit;
}
.T1, .i, .b, .e, .t {
	font-size: 50em;
	opacity: 0;
}
object {
	display:block;
		//position:absolute;
	left: 0;
	top:0;
	right: 0;
	////width: 100%;
//	z-index: 500;
}




@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		visibility:visible;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		visibility:visible;
	}
}

@keyframes fadeIn2 {
	 from {
	 	opacity: 0;
	 }
 	to {
		opacity: 1;
		visibility:visible;
 	}
}

@mixin move2_svg($move, $delay) {
	position: absolute;
	@keyframes tryit {
		0% {
			opacity: 1;
			transform: translate(0px, 0px);
		}
		25% {
			opacity: 1;
			visibility: visible;
		}
		50% {
			transform: translate(0px, 0px);
		}
		100% {
			//padding-left: $move;
			transform: translate(25%, 0px);
		}
	}

	animation-name: tryit 6s;
	//animation-iteration-count: infinite, infinite;
	animation-timing-function: linear;
	animation-fill-mode:forwards;
	animation-delay: $delay;
	//transition: transform 9s;
	transition: padding-left 2s;
}



@mixin letter_appear($delay) {
   //opacity: 1;
	animation: 2s fadeIn2;
	animation-fill-mode:forwards;
	animation-delay: $delay;
}

@mixin globe_appear($delay) {
 	animation: 2s fadeIn;
	animation-fill-mode:forwards;
	//opacity: 1;
	transform-origin: 537.1px 473.1px;
	transition: translate 4s;
	transform: translate(0px, 0px);
	animation-delay:$delay;
}

.terrain {
	animation: 2s fadeOut;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

#group2, #group3, #group4, #group5 {
	opacity:0;
	transition: translate 4s;
	transform: translate(0px, 0px);
}

[id*='group'] {
	//@include globe_appear(0s);
	transform-origin: 537.1px 473.1px;
}
.T1 {
	@include letter_appear(2s);
}
$move: 0px;
	$delay: 0s;
  
	
	.funny {
	animation: rotationmove 2s;
	animation-duration: 2s, 2s;
	animation-timing-function:  linear;
	//animation-iteration-count:  infinite, infinite;
	animation-iteration-count:1;
	transform-origin: 537.1px 473.1px;
	//transition: padding-left 4s;
    animation-fill-mode:forwards;
	
	
}

  



#group1 {
 	display:block;
	//@include move_svg(1000px, 2s
	$move: 1000px;
	$delay: 2s;
	@extend .funny;	
	animation-delay: $delay;
	@keyframes rotationmove {
		0% {
			transform: translate(0, 0);
			
		}
		100% {
			transform: translate(1000px, 0);
		}
}
}

#group2 {
	 display:block;
	@include globe_appear(7s);
}

#move2 {
	//position:absolute;
	//@include move_svg(200px, 10s);
	$move: 200px;
	$delay: 10s;
	@extend .funny;
	animation-delay: $delay;
	@keyframes rotationmove {
		0% {
			transform: translate(0, 0);
			
		}
		100% {
			transform: translate(200px, 0);
		}
}
}


 
.i {
	@include letter_appear(8s);
}
//#group2 
	//@include move_svg(150em, 10s);

/*
#group3 {
	@include globe_appear(6s);
}
#group4 {
	@include globe_appear(8s);
}
#group5 {
	@include globe_appear(10s);
}

 */
 


/*
.b {
@include letter_appear(8s);
}
.e {
@include letter_appear(10s);

}
.t {
@include letter_appear(12s);
}
  



#group3 {
@include move_svg(150em, 8s);
}
#group4 {
@include move_svg(200em, 10s);
}
#group5 {
@include move_svg(250em, 12s);
}

 
/*#group2, #group3, #group4, #group5 {
animation: 2s fadeIn;
animation-fill-mode:forwards;
opacity: 0;
transform-origin: 537.1px 473.1px;
transition: translate 4s;
transform: translate(0px, 0px);

}*/


//@mixin letter_move 


 
	@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}



@keyframes disappear {
	0% {opacity:1;}
	100% {opacity:0;}
}